<div *ngIf="product">
    <div class="page-header page-header-xs" data-parallax="true" [ngStyle]="{'background-image': 'url('+ product.coverimage+')'}">
      
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>{{product.name}}</h1>
          <p>{{product.description}}</p>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="section text-center">
                    <h2 class="title">音による癒しの世界へようこそ</h2>
                    <h5 class="description">音は人間にとって重要な五感の１つ。音楽や自然等様々な音は、私たちの体に様々な影響を与えてくれます。このアプリでは、音楽、自然宇宙の３つのカテゴリ別に睡眠導入のサポートになる、素敵な音を提供していますよ。ぜひ一度聞いていってくださいね。</h5>
                    <br>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-album-2"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">{{product.heading1}}</h4>
                            <p class="description">{{product.hedingtext1}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">{{product.heading2}}</h4>
                            <p>{{product.hedingtext2}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">{{product.heading3}}</h4>
                            <p>{{product.hedingtext3}}</p>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    
      </div>

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->
      
      <div class="container marketing">
      
        <!-- Three columns of text below the carousel -->
      
      
        <!-- START THE FEATURETTES -->
      
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{{product.heding1}}</h2>
            <p class="lead">{{product.soundtext}}</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{{product.coverimage1}}" alt="Generic placeholder image">
            <!--音楽再生機能-->
            <div>
              <audio controls>
                <source src="{{product.sound}}" type="audio/mp3"/>
              </audio>
            </div>
            <!--//音楽再生機能-->
          </div>
        </div>
      
        <hr class="featurette-divider">
      
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{{product.heding2}}</h2>
            <p class="lead">{{product.soundtext2}}</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{{product.coverimage2}}" alt="Generic placeholder image">
            <!--音楽再生機能-->
            <div>
              <audio controls>
                <source src="{{product.sound2}}" type="audio/mp3"/>
              </audio>
            </div>
            <!--//音楽再生機能-->
          </div>
        </div>
      
        <hr class="featurette-divider">
      
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{{product.heding3}}</h2>
            <p class="lead">{{product.soundtext3}}</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="{{product.coverimage3}}" alt="Generic placeholder image">
            <!--音楽再生機能-->
            <div>
              <audio controls>
                <source src="{{product.sound3}}" type="audio/mp3"/>
              </audio>
            </div>
            <!--//音楽再生機能-->
          </div>
        </div>
      
        <hr class="featurette-divider">
      
        <!-- /END THE FEATURETTES -->
      
      </div><!-- /.container -->
  </div>
  
    <!-- FOOTER -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</div>